# First image is used as the source for disk generation.
BOOTC_IMAGE_REFS="ghcr.io/bupd/bootc docker.io/bupd/bootc"

# GHCR: use a GitHub token with write:packages.
GHCR_USERNAME=
GHCR_TOKEN=

# Docker Hub: use a Docker Hub access token.
DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=
